/*** 汎用 ***/
/* WOFFフォント設定 */
@font-face {
  font-family:'font_ipa_min';
  src: url("/font/ipaexm.woff") format('woff');
}

@font-face {
  font-family:'font_ipa_gos';
  src: url("/font/ipaexg.woff") format('woff');
}

.title{
  font-size:32px;
  color:#000000;
}

.right{
    text-align:right;
}

.left{
    text-align:left;
}

.center{
    text-align:center;
}

.top-margin20{
  padding-top: 20px;
}

.top-margin70{
  padding-top: 70px;
}

.under-margin20{
  padding-bottom: 20px;
}

/* liは点を表示しない */
li {
list-style: none;
}

/* ボタン */
.btn-primary{
  border-color:#BDBDBD;
  background-color: #F2F2F2;
  color: #000000;
}

.btn-primary:hover{
  border-color:#BDBDBD;
  background-color: #BDBDBD;
  color: #000000;
}


/*** 部品別指定 ***/

/* TOPカテゴリー文字 */
.toplist-home{
  color: #000000;
  font-size: large;
  font-family:'font_ipa_gos', sans-serif;
}

.toplist-category{
  color: rgb(92,184,92);
  font-size: medium;
  font-family:'font_ipa_gos', sans-serif;
}

.toplist{
  color: #000000;
  font-size: small;
  font-family:'font_ipa_gos', sans-serif;
}

/* Cartタイトル文字 */
.cart-title{
  color: #000000;
  font-size: x-large;
  font-family:'font_ipa_gos', sans-serif;
}

/* ナビゲーションバーの色 */
.navbar-fixed-top{
  background-color: #F2F2F2;
  border-color:#BDBDBD;
}

/* ナビゲーションバーのロゴ文字 */
.navbar-inverse .navbar-brand {
  color: #000000;
}

/* ナビゲーションバーの右メニュー文字 */
.collapse > ul > .dropdown > a {
  color: #000000;
}

/* ナビゲーションバーの右メニュー展開時の下地 */
.collapse > ul > .dropdown > .dropdown-toggle:visited{
  background-color: #F2F2F2
}

/* TOP画面左メニューのデザイン */
.col > .nav > li > a{
  border-color:#BDBDBD;
  background-color: #F2F2F2;
  color: #000000;
  border:solid 1px;;
}

.col > .nav > li > a:hover{
  border-color:#BDBDBD;
  background-color: #BDBDBD;
  color: #000000;;
}


/* リストビュー */
.table-bordered {
border: 1px solid #dddddd;
border-collapse: separate;
border-left: 0;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
}

.table {
width: 100%;
margin-bottom: 20px;
background-color: transparent;
border-collapse: collapse;
border-spacing: 0;
display: table;
}
